.goods_index{
    // 给一个高度
    height: ~'calc(100vh - 90rpx)';
    overflow: hidden;
    display: flex;
    .goods_left_menu{
       width: 160rpx;
       .menu{
           height: 80rpx;
           display: flex;
           justify-content: center;
           align-items: center;
       }
       .active{
           color: var(--themeColor);
           background-color: #fff;
           border-left: 3px solid var(--themeColor);
       }
    }
    .goods_right_menu{
        flex: 1;
        .goods_right_index{
            .goods_title{
                height: 80rpx;
                display: flex;
                justify-content: center;
                align-items: center;
                .goods_top_title{
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
            .goods_meun{
                display: flex;
                flex-wrap: wrap;
                .goods_nav{
                    width: 33.33%;
                    text-align: center;
                    image{
                        width: 60%;
                    }
                }
            }
        }
    }
}